/**********************TAG ELEMENTS************************/
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1{
  padding: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 40px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  color: #40514E;
}

hr {
  border: none;
  border-top: 2px dotted;
  border-color: #cccccc;
  width: 4%;
  border-width: 15px;
  margin: 0 auto 0 auto;
}

/**********************ClASSES ELEMENTS************************/
/****************Top Container Start******************/
.top-container {
  padding-top: 220px;
  width: 100%;
  height: 721px;
  background-color: #94D6E0;
  position: relative;
}

.header-name{
  padding: 0;
  margin: 0;
  font-size: 90px;
}
.header-paragraph{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
.top-cloud {
  position: absolute;
  top: 15%;
  right: 20%;

}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 43%;
}

.mountain {
  width: 960px;
  height: 550px;
  margin: 0 auto 0 auto;
}
/****************Top Container End******************/
/****************Middle Container Start******************/
.middle-container{
  padding: 100px 0;
  background-color: #f5f5f5;
}

.profile{
  margin: 0 auto 100px auto;
  width: 35%;
  line-height: 2;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.programer-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.photographer-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  margin: 0 auto 100px auto;
  width: 35%;
  line-height: 2;
}

.btn {
  position: relative;
  top: 40px;
  border-radius: 20px;
  background: #2dc3bc;
  color: #EAF6F6;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #66BFBF;
}


/****************Middle Container End******************/
/****************Bottom Container Start******************/

.bottom-container{
  background-color: #2dc3bc;
  padding: 100px;
}

.bottom-container a{
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Lilita One', cursive;
  margin: 0 15px;
  line-height: 3;
}

.author {
    margin: 10px 0;
    color: #EAF6F6;
    font-weight: bold;
}
